<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container justify-content-center d-flex">
        <div class="col-12">
            <h2>MY PAGE</h2>
            <div class="mypage-header">
                <div class="profile">
                    <i class="bi bi-person-circle" style="font-size: 100px"></i>
                </div>
                <div class="info">
                    <div class="btns">
                        <a href="" class="btn btn-primary">STORY</a>
                        <button class="btn btn-outline-primary">SUBSCRIBE</button>
                        <button class="btn btn-outline-info"
                                data-bs-toggle="modal"
                                data-bs-target="#menuModal">MODIFY</button>
                    </div>
                    <div class="title mt-3">
                        <h3 th:text="${memberInfo.userId}">fjdsklf</h3>
                        <div th:text="${memberInfo.description}">여기에 소개글</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="menuModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-grid">
                    <a href="/auth/logout" class="btn btn-primary"> LOG OUT </a>
                    <a href="/member/modify/1" th:href="@{/member/modify/{id}(id=${memberInfo.id})}" class="btn btn-outline-primary mt-2"> MODIFY </a>
                    <button type="button" class="btn btn-outline-danger mt-2"
                            data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>