<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content">
    <div class="container">
        <h2 class="mb-5">LIST</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">no</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <!--<th scope="col">날짜</th>-->
                </tr>
            </thead>
            <tbody>
                <tr th:each="boardItem,status:${boardList}">
                    <th scope="row" th:text="${status.count}">1</th>
                    <td>
                        <a href=""  th:text="${boardItem.title}"
                           th:href="@{/board/view/{id}(id=${boardItem.id})}">Mark</a>
                        <!--<a href=""  th:text="${boardItem.title}"
                           th:href="@{/board/view(id=${boardItem.id})}">Mark</a>-->
                    </td>
                    <td th:text="${boardItem.name}">Otto</td>
                    <!--<td th:text="${boardItem.date}?: _">@mdo</td>-->
                </tr>
            </tbody>
        </table>
        <!--<ul>
            <li th:each="boardItem, status : ${boardList}">
                <dl>
                    <dt>순서</dt>
                    <dd th:text="${status.index}"></dd>
                    <dt>이름</dt>
                    <dd th:text="${boardItem.name}">장성호</dd>
                    <dt>제목</dt>
                    <dd th:text="${boardItem.title}">제목01</dd>
                    <dt>내용</dt>
                    <dd th:text="${boardItem.content}">내용01</dd>
                </dl>
            </li>
        </ul>-->
    </div>
</div>
</html>
