<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${title}"> 쌩 list</h1>
    <ul>
        <li th:each="boardItem, status : ${boardList}">
            <dl>
                <dt>순서</dt>
                <dd th:text="${status.index}"></dd>
                <dt>이름</dt>
                <dd th:text="${boardItem.name}">장성호</dd>
                <dt>제목</dt>
                <dd th:text="${boardItem.title}">제목01</dd>
                <dt>내용</dt>
                <dd th:text="${boardItem.content}">내용01</dd>
            </dl>
        </li>
    </ul>
</body>
</html>
