<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container mt-5 mb-5">
        <form action="/visual/insert" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input type="text" class="form-control" id="title" placeholder="title" name="title">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">desc</label>
                <textarea class="form-control" id="desc" rows="3" name="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="link" class="form-label">link</label>
                <input type="text" class="form-control" id="link" placeholder="link"  name="link">
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">file</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-primary">confirm</button>
            </div>
        </form>
    </div>
</body>
</html>