<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/visual.css">
</head>
<body>
<div class="main-visual">
    <ul class="visual swiper-wrapper">
        <!--bg로 이미지 처리..-->
        <th:block th:each="item : ${visualList}">
            <li th:style="|background-image:url(/upload/${item.renamed})|" class="swiper-slide">
                <div class="slogan">
                    <h2 th:text="${item.title}">여기에 제목</h2>
                    <p th:text="${item.description}">여기에 desc</p>
                    <a href="" th:href="@{${item.link}}">MORE</a>
                </div>
            </li>
        </th:block>
    </ul>
    <button class="btn btn-primary" id="prev">prev</button>
    <button class="btn btn-primary" id="next">next</button>
    <div class="pagination">

    </div>

</div>
    <script>
        const swiper = new Swiper(".main-visual", {
            loop: true,
            speed:1000,
            //slidesPerView:"auto",
            centeredSlides:true,
            navigation: {
                nextEl: '#next',
                prevEl: '#prev',
            },
            pagination: {
                el: ".pagination",
                type: 'bullets',
                clickable:true,
            },
            mousewheel: {
                invert: true,
            },
            /*effect:"coverflow",
            coverflowEffect: {
                rotate:0,
                stretch:50
            },*/
            autoplay: {
                delay: 3000,
            },
        });
    </script>
</body>
</html>