<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="headerFragment">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Simple header</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/board/list.html" th:href="@{/board/list(id=${id},name=${name})}" class="nav-link">board</a></li>
            <li class="nav-item"><a href="#" class="nav-link">login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">join</a></li>
        </ul>
    </header>
</div>
</html>