<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <h1>GALLERY</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li>ALL</li>
                <li>SKETCH</li>
                <li>PAINT</li>
                <li>PHOTO</li>
            </ul>
        </nav>
        <div>
            <ul>
                <th:block th:each="item : ${boardList}">
                    <li>
                        <div class="img">
                            <img src="" th:src="@{|/upload/${item.renamed}|}">
                        </div>
                        <div class="info">
                            <h2 th:text="${item.title}">title</h2>
                            <p class="desc" th:text="${item.description}">description</p>
                            <p class="pont" th:text="${item.point}">4.5</p>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </main>
</body>
</html>